<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JeunessebyAnita.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAF345961DA3D09100C28DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAF345AA1DA3D09200C28DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAF345B51DA3D09300C28DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
